
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
    font-family: 'Noto Sans JP', sans-serif;	
	background: #f2f2f2;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar {
	background: #a5a4a3;
	position: sticky;
	top: 0;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 900px;
	width: 80%;
	margin: auto;
	display: flex;
	/*justify-content: space-between;*/
}

img {
    background-color: rgba(255, 0, 0, 0.5);
	width: 90px;
    margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
}

.navbar a {

	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
}